.body-flex {
  display: flex;
  justify-content: space-between;
}

.place {
  width: 50%;
}

strong {
  font-size: 24px;
}

.decrypt {
  margin-top: 50px;
}

.styled-table {
  width: 45%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 10px;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
  font-size: 16px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
